.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body{
    background-size: cover;
    background-position: center;
}

canvas{
    box-shadow:10px 10px 10px red;
    border-radius: 10px;
}
.copyrightt{
    position:fixed;
    color:lawngreen;
    bottom:0;
    width: 100%;
    background-color:deeppink;
    line-height: 3;
    text-align: center;
}

button{
   width:550px;
}